---
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { generateWhatsAppLink } from "@/utils/generate-whatsapp-link";
import {
  Building2,
  Ellipsis,
  Gavel,
  Landmark,
  MessageCircle,
  NotepadText,
  PencilLine,
  Star,
  User,
  Users2,
} from "lucide-react";

const areas = [
  {
    title: "Personas Jurídicas",
    icon: Building2,
    description:
      "En este mundo cambiante y competitivo, nos mantenemos como atletas de alto rendimiento, en forma y a la vanguardia.",
    subareas: [
      {
        title: "Asuntos Laborales",
        icon: Landmark,
        description:
          "Nada más importante que la correcta relación contractual EMPLEADORES - COLABORADORES.",
        details: [
          "Asesoría en creación de contratación laboral acorde a la estrategia corporativa",
          "Asesoría en otorgamiento de beneficios extralegales",
          "Trámite de novedades laborales (otrosís, preavisos, renovaciones, terminaciones)",
          "Saneamiento de relaciones laborales anteriores",
          "Atención en diligencias ante el Ministerio de Trabajo",
          "Creación y revisión de Reglamento Interno de Trabajo",
        ],
      },
      {
        title: "Asuntos Comerciales",
        icon: NotepadText,
        description:
          "El concretar alianzas estratégicas y comerciales nos ayuda en la consolidación de nuestras metas empresariales",
        details: [
          "Estructuración y revisión de modelos de contratos comerciales",
          "Redacción de escritos y recursos ante diferentes entidades",
          "Auditoria a contratos con terceros que presten servicios a la empresa cliente.",
          "Constitución de establecimientos, sucursales, franquicias, agencias",
          "Estructuración de contratos de colaboración empresarial",
        ],
      },
      {
        title: "Asuntos Societarios y Corporativos",
        icon: Users2,
        description:
          "Blindar jurídicamente tu patrimonio y tu empresa es un acto de cuidado a tu activo más valioso.",
        details: [
          "Asesoría en las diferentes formas asociativas de constitución empresarial y la mejor estructura corporativa, conforme a las necesidades de nuestros clientes.",
          "Creación, transformación, fusión, escisión, disolución y liquidación",
          "Registros e inscripciones societarias",
          "Elaboración de actas de asamblea y junta directiva",
          "Movimientos accionarios internos",
          "Cambio de representante legal y revisor fiscal",
          "Reformas estatutarias",
        ],
      },
      {
        title: "Propiedad Intelectual",
        icon: Star,
        description:
          "TU MARCA es tu bien patrimonial más importante, ya que sirve para identificar tu producto o servicio en el mercado.",
        details: [
          "Registro marcario",
          "Registro de patentes",
          "Registro de lemas comerciales",
          "Procesos ante la SIC (Superintendencia de Industria y Comercio)",
        ],
      },
      {
        title: "Otros",
        icon: Ellipsis,
        details: [
          "Cobro y manejo de cartera preventiva, prejurídica y jurídica",
          "Asesoría legal en trámites de conciliaciones extrajudiciales en derecho.",
          "Avalar documentos de implicaciones legales.",
        ],
      },
    ],
  },
  {
    title: "Personas Naturales",
    icon: User,
    description:
      "A diario se nos presentan situaciones jurídicas difíciles de abordar, muchas veces de entender o simplemente de concluir.",
    subareas: [
      {
        title:
          "Proceso de insolvencia de persona natural comerciante y no comerciante",
        icon: PencilLine,
        description:
          "Recupera tu tranquilidad financiera y accede a todos los beneficios del proceso de insolvencia:",
        details: [
          "Suspensión de procesos judiciales",
          "Suspensión de descuentos sobre salarios ",
          "Protección del patrimonio personal y familiar.",
          "Cambio de estatus en centrales de riesgos",
        ],
      },
      {
        title: "Tutelas",
        icon: Star,
        description:
          "¿Sientes que tus derechos no son respetados? Trabajamos en favor de tus derechos constitucionales fundamentales.",
      },
      {
        title: "Procesos Ejecutivos",
        icon: Gavel,
        description:
          "Creación, diligenciamiento y cobro de títulos valores. Expande tus conceptos jurídicos.",
      },
    ],
  },
];
---

<section id="areas-practica" class="py-20 bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-4">
        Áreas de Práctica
      </h2>
      <p class="text-xl text-law-text max-w-3xl mx-auto">
        Nuestro modelo de negocio abarca 2 líneas de acción especializadas,
        diseñadas para proteger tu activo más valioso: <strong
          >¡Tus sueños!</strong
        >
      </p>
    </div>

    <div class="grid lg:grid-cols-2 gap-12 mb-16">
      {
        areas.map((area) => (
          <div class="space-y-6">
            <div class="text-center">
              <div class="inline-flex items-center justify-center w-16 h-16 bg-law-primary rounded-full mb-4">
                <area.icon className="h-8 w-8 text-law-button-text" />
              </div>
              <h3 class="text-2xl font-bold text-gray-900 mb-2">
                {area.title}
              </h3>
              <p class="text-law-text">{area.description}</p>
            </div>

            <div class="grid gap-4">
              {area.subareas.map((subarea) => (
                <a
                  href={generateWhatsAppLink(
                    `¡Hola! Quiero información sobre los servicios jurídicos de -Ambiente Legal-, me gustaría saber más sobre ${subarea.title}`
                  )}
                  target="_blank"
                >
                  <Card className="border-l-4 border-l-law-primary practice-card cursor-pointer relative gap-4">
                    <CardHeader>
                      <CardTitle className="flex items-center text-lg gap-4">
                        <div class="rounded-full border-2 border-law-primary text-law-primary flex items-center justify-center w-10 h-10 min-w-10">
                          <subarea.icon className="h-5 w-5 text-law-primary" />
                        </div>
                        {subarea.title}
                      </CardTitle>
                    </CardHeader>
                    <CardContent>
                      <CardDescription className="text-law-text mb-3">
                        <b>{subarea.description}</b>
                      </CardDescription>
                      <ul class="text-sm text-law-text space-y-1">
                        {subarea.details?.map((detail) => (
                          <li>• {detail}</li>
                        ))}
                      </ul>
                      <div class="hover-message mt-4 bg-law-primary text-law-button-text rounded-lg p-3 flex items-center justify-center">
                        <MessageCircle className="h-5 w-5 mr-2" />
                        <span class="font-medium">Te asesoramos</span>
                      </div>
                    </CardContent>
                  </Card>
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>

    <div class="text-center bg-white p-8 rounded-xl shadow-sm">
      <h3 class="text-xl font-bold text-gray-900 mb-4">
        Cada proceso es diferente... Cada situación merece un plan de acción
      </h3>
      <p class="text-law-text mb-6">
        Realizamos tu diagnóstico jurídico para conocer a profundidad tu
        situación y necesidad legal.
        <br />
        <strong>¡QUEREMOS SER TU ALIADO!</strong>
      </p>
      <a href={generateWhatsAppLink("Necesito cotizar")} target="_blank">
        <Button
          className="bg-law-primary hover:bg-law-primary/90 text-law-button-text px-8 py-3 rounded-lg font-medium transition-colors text-lg cursor-pointer"
        >
          Cotiza Con Nosotros
        </Button>
      </a>
    </div>
  </div>
</section>
